@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x:hidden;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerone {
  background-color: red;
}

input {
  border-color: #00008B;
  width: 200px;
  height: 30px;
  padding: 20px;
}

button {
  background: blue;
  color: white;
  font-weight: bold;
  border: solid 3px;
  display: flex;
  justify-content: center;
  padding: 5px;
  
  
  
}

.contactform {
  display: grid;
  justify-content: center;
  
  padding: 100px;
  
  
}
