$color-primary:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);	
$color-secondary: white;

.testimonials {
  
  color: $color-secondary;
  border-radius: 30% 70% 87% 33% / 40% 30% 100% 100% ;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.htag {
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  color: $color-primary;
}

.icontext{

color: $color-primary; 
border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;
}

.introimageone {
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
 
}

.introonetext{
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
  background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.introimagetwo {
  border-radius: 40% 50% 67% 33% / 50% 50% 70% 90% ;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);

}

.container {
  border-radius: 100% 67% 33% / 30% 43% 57% 70%;

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,1) 59%, rgba(0,212,255,1) 100%);

}

.introcontainer {
  background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.aboutheader {
  background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.aboutimage{
  position: absolute;
  
  width: 1000px;
  z-index: -1;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

